<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- BANCO DE DADOS -->
	<connectionStrings>
		<!-- BANCO DE DADOS ANTIGO	<add name="bdvendas" connectionString="server=localhost; user ID=root; password=5550178; database=bdvendas"     -->
		<add name="bdvendas" connectionString="server=databasefazenda.cb8y40cqu22y.us-east-2.rds.amazonaws.com,1433; user ID=brunotop; password=fazenda123; database=fazenda;  Connection Timeout=10;"
			providerName="System.Data.SqlClient;"/>
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>